.audit {
	padding: 40px 0;
	&__title {
		font-size: 36px;
		line-height: 40px;
		font-weight: 600;
		margin-bottom: 20px;
		color: #474766;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__row {
		position: relative;
		display: grid;
		grid-template-columns: repeat(24, 1fr);
		column-gap: 10px;
		&-hidden {
			display: none;
		}
		&-copying {
			& .audit__button-delete {
				display: none;
			}
		}
	}
	&__cell {
		font-size: 16px;
		line-height: 120%;
		color: var(--black-color);
		&-title {
			min-height: 50px;
			grid-column: 5 span;
			padding: 14px 6px 6px;
			display: flex;
		}
		&-field {
			position: relative;
			grid-column: 10 span;
			border-radius: 7px;
			border: 1px solid var(--border-color);
			overflow: hidden;
			display: flex;
			&-radio {
				justify-content: center;
			}
			&-file {
				height: fit-content;
			}
		}
		&-3 {
			grid-column: 3 span;
		}
		&-4 {
			grid-column: 4 span;
		}
		&-5 {
			grid-column: 5 span;
		}
		&-6 {
			grid-column: 6 span;
		}
		&-8 {
			grid-column: 8 span;
		}
		&-12 {
			grid-column: 12 span;
		}
		&-16 {
			grid-column: 16 span;
		}
	}
	&__input {
		width: 100%;
		height: 100%;
		padding: 4px 20px;
		outline: none;
		border: none;
		&-file {
			appearance: none;
			position: absolute;
			top: -10px;
			left: -10px;
			opacity: 0;
			visibility: hidden;
		}
		&-number {
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
			}
		}
		&-before {
			position: relative;
			&::before {
				content: attr(data-before);
				display: block;
				margin-right: 6px;
			}
		}
	}
	&__label {
		display: block;
		width: 100%;
		height: 100%;
		padding: 16px 20px;
		&-radio {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 6px 12px;
			width: fit-content;
			& .audit {
				&__input {
					padding: 0;
					width: unset;
					height: unset;
				}
			}
		}
		&-file {
			height: fit-content;
		}
	}
	&__text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	&__textarea {
		width: 100%;
		border: none;
		outline: none;
		resize: vertical;
		padding: 12px;
		height: 48px;
		font-size: 16px;
		line-height: 18px;
		min-height: 192px;
		&-2 {
			height: 96px;
		}
		&-3 {
			height: 144px;
		}
		&-4 {
			height: 192px;
		}
	}
	&__button {
		border: 1px solid var(--border-color);
		border-radius: 7px;
		grid-column: 2 span;
		height: fit-content;
		min-height: 53px;
		background: var(--white-color);
		transition: color 0.3s ease, border 0.3s ease;
		&:disabled {
			border: 1px solid var(--grey-color);
			color: var(--grey-color);
			cursor: not-allowed;
		}
		&-delete {
			display: inline-block;
			grid-column: 23 / 25;
			position: absolute;
			top: 63px;
			width: 107px;
			right: 0;
		}
		&-save {
			border: 1px solid var(--blue-color);
			background: var(--blue-color);
			color: var(--white-color);
			grid-column: 3 span;
		}
	}
}
