.tabs {
	&__panel {
		display: none !important;
		&-active {
			display: flex !important;
		}
	}
	&__nav {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
		margin-bottom: 15px;
		&-item {
			grid-column: 1 span;
		}
		&-btn {
			width: 100%;
			text-align: center;
			font-size: 24px;
			line-height: 1.2;
			border: 1px solid var(--border-color);
			border-radius: 10px;
			color: var(--black-color);
			padding: 6px;
			transition: background 0.3s ease, color 0.3s ease;
			&-active {
				background-color: var(--border-color);
				color: var(--white-color);
			}
		}
	}
}
