:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1400px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #1e1e1e;
	--border-color: #126797;
	--grey-color: #c7c7c7;
	--blue-color: #0bbbef;
	--title-color: #474766;
	--bullet-bg-color: #7f7f7f;
}
